{% load static %}

<link rel="stylesheet" type="text/css" href="{%  static '/css/main.css' %}" >
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


</head>


<body style="background-image:url('{% static 'images/jess-bailey.jpg' %}');">

    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        <a class="navbar-brand" href="/">TODO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><button type="button" class="btn btn-secondary">Logout</button></a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login"><button type="button" class="btn btn-secondary">Login</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup"><button type="button" class="btn btn-secondary">Signup</button></a>
                </li>

                {% endif %}


            </ul>
        </div>
    </nav>
    <!-- changing content -->
    <div>
        {% block content %}

        {% endblock %}
    </div>
    <!-- end -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>

</html>
