{% extends 'base.html' %}

{% block content %}


<!DOCTYPE html>
<html>

<head>
  <title>TODO</title>
</head>

<body>

  <div class="container p-5 ">
<div class = "col-lg-6 shadow p-4 mx-auto bg-dark text-white">
  <div class = "alert alert-info">
    <h3>WELCOME</h3>
  </div>
  <h2>TODO lists:</h2>

  <p>Prioritized lists of all the tasks that you need to carry out.</p>
  <p>Most important tasks at the top of the list and the least important tasks at the bottom.</p>


</body>
</html>
</div>

{% endblock %}