
{% extends 'base.html' %}



  {% block content %}
<title>TODO</title>

  <div class="container pt-4">
   <div class="row p-0 mt-4"  >
<div class="col-lg-4 mx-auto shadow p-0" style=" height:350px; background-color: rgba(255, 255, 255,0.7);text-decoration-color: black;">
  <div class="alert alert-info">
        <h2>Add New Task</h2>
      </div>
      <div class="p-4" >
        <form action="/add-todo/" method="POST">
          {% csrf_token %}
          {{form.as_p}}
          <hr>
          <div class="text-center"><input type="submit" value = "ADD TASK" class = "btn btn-info" ></div>
        </form>

      </div>
    </div>
    <div class="col">
      <div class = "border">
        {% if todos|length == 0 %}

        <div class="p-4">
          <br>
          <br>
          <div class="alert alert-info text-center">
            <p class="" style="font-size: 30px;">No Todos</p>
          </div>
          <br>
          <br>
        </div>

        {%else%}
        <div >
          <table class="table" style="background-color: rgba(255, 255, 255,0.8);text-decoration-color: black;">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>

              {% for todo in todos %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>
                  {% if todo.status == 'C'%}
                  <strike> {{todo.title}} </strike>
                  {% else %}
                  {{todo.title}}
                  {% endif %}
                </td>



                <td>
                  {% if todo.status == 'C'%}
                  COMPLETED

                  {%else%}
                  PENDING
                  {%endif%}
                </td>
                <td>{{todo.priority}}</td>

                <td>
                  <a class="btn btn-danger btn-lg btn-sm" href="/delete-todo/{{todo.id}}"> DELETE </a>
                   {% if todo.status == 'P'%}
                  <a class="btn btn-warning btn-sm" href="/change-status/{{todo.id}}/C"> MARK COMPLETED</a>
                    {%else%}
                  <a class="btn btn-success btn-sm" href="/change-status/{{todo.id}}/P">MARK PENDING</a>
                  {%endif%}
                </td>
              </tr>
              {%endfor%}


            </tbody>
          </table>
        </div>
        {%endif%}
      </div>
    </div>
   </div>
  </div>

  {% endblock %}
