{% extends 'base.html' %}
  {% block content %}
<title>Login</title>

  <div class="container pt-4 ">
    <div class="col-lg-4 mx-auto shadow p-0 mt-4" style="background-color: rgba(255, 255, 255,0.5);">
      <div class="alert alert-info">
        <h1 class="display-4">Log In</h1>


      </div>

      <div class="p-4">

        <form action="/login/" method="POST">
          {% csrf_token %}
          {{form.as_p}}
          <hr>
          <div class="text-center"><input type="submit" value="Login" class="btn btn-info"></div>
        </form>
        <div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="{% url 'signup' %}" class="ml-2">Sign Up</a>
					</div>
					<div class="d-flex justify-content-center links">
						Forgot password? <a href="{% url 'reset_password' %}" class="ml-2">Reset password</a>
					</div>

				</div>
      </div>
    </div>
  </div>
  {% endblock %}
