{% extends 'base.html' %}

{% block content %}

<div class="container p-5 ">
	<div class = "col-lg-6 shadow p-4 mx-auto" style="background-color: rgba(255, 255, 255,0.5);text-decoration-color: black;">
		<div class = "alert alert-success">

<h3>Enter new password</h3>

		</div>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">

	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Update Password" class = "btn btn-success">

</form>
	</div>
</div>

{% endblock %}
