{% extends 'base.html' %}

{% block content %}



<div class="container p-5 ">
	<div class = "col-lg-6 shadow p-4 mx-auto" style="background-color: rgba(255, 255, 255,0.5);text-decoration-color: black;">
		<div class = "alert alert-success">
<h3>Password reset</h3>
		</div>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="POST">

	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Send email" class = "btn btn-success">

</form>
</div>
</div>


{% endblock %}
