{% extends 'base.html' %}

{% block content %}

<div class="container p-5 ">
	<div class = "col-lg-6 shadow p-4 mx-auto" style="background-color: rgba(255, 255, 255,0.5);text-decoration-color: black;">
		<div class = "alert alert-success">

<h3>Password reset complete</h3>
        </div>

<p>Your password has been set. You may go ahead and log in now.</p>


        <a type="submit" value = "Log in" class = "btn btn-success" href="/login" >Login </a>

    </div>
</div>


{% endblock %}
