{% extends 'base.html' %}

{% block content %}

<div class="container p-5 ">
	<div class = "col-lg-6 shadow p-4 mx-auto" style="background-color: rgba(255, 255, 255,0.5);text-decoration-color: black;">
		<div class = "alert alert-success">

<h3>Password reset sent</h3>
        </div>


<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

    </div>
</div>

{% endblock %}
