{% extends 'base.html' %}

{% block content %}

<title>
  Signup
</title>
<div class="container p-5 ">
<div class = "col-lg-6 shadow p-4 mx-auto" style="background-color: rgba(255, 255, 255,0.5);">
  <div class = "alert alert-success">
    <h3>Sign up</h3>
  </div>
  <div>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <div class="text-center"><input type="submit" value = "Sign up" class = "btn btn-success" ></div>

  </form>

  </div>
</div>
  </div >

{% endblock %}
